/* -----About Section Style----- */
.about-section {
  width: 100vw;
  height: auto;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryColor);
  gap: 50px;
}

.about-us {
  font-size: var(--headerFontSize);
  font-weight: var(--headerFontWeight);
  text-align: center;
  margin: 0 20px;
}

.about-content {
  width: 80%;
  /* max-width: 600px; */
  height: auto;
  padding: 25px;
  box-shadow: var(--boxShadow);
  text-align: justify;
  border-radius: 15px;
  word-spacing: 2px;
  font-size: 18px;
  margin-bottom: 50px;
}

.about-text {
  font-weight: 600;
  font-size: 20px;
  /* color: var(--primary); */
}

/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .about-content {
    width: 95%;
    padding: 20px;
    font-size: 16px;
  }

  .about-us {
    font-size: 40px !important;
  }

  .about-text {
    font-size: 18px;
  }
}

/* Medium devices (portrait tablets and small desktops, 900px and down) */
@media (max-width: 900px) {
  .about-content {
    width: 90%;
    font-size: 17px;
  }

  .about-us {
    font-size: calc(var(--headerFontSize) - 1px);
  }

  .about-text {
    font-size: 19px;
  }
}
