#client-section {
  width: 100%;
  min-height: 50vh; /* Use min-height to ensure flexibility */
  padding: 2.5rem 0; /* Add some padding for breathing room */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reduce gap to improve spacing on smaller screens */
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  backdrop-filter: blur(0.7rem);
  box-sizing: border-box; /* Ensure padding is included in total width/height */
}

.client-logo-container {
  width: 100%;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  display: flex;
  gap: 20px; /* Reduce gap to improve spacing on smaller screens */
  justify-content: center;
  align-items: start;
}

.client-logo img {
  max-width: 100%; /* Ensure images don’t overflow the container */
  height: 200px; /* Maintain aspect ratio */
  box-shadow: var(--boxShadow);
}

.client-heading {
  font-size: var(--headerFontSize);
  font-weight: var(--headerFontWeight);
  text-align: center; /* Center-align text for better presentation */
  margin-bottom: 20px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  #client-section {
    gap: 15px;
  }

  .client-logo-container {
    gap: 15px;
  }

  .client-logo img {
    width: 200px; /* Adjust image size for smaller screens */
  }

  .client-heading {
    font-size: 40px !important;
  }
}

@media (max-width: 480px) {
  #client-section {
    gap: 10px;
  }

  .client-logo-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .client-logo {
    width: 90%;
    height: fit-content; /* Maintain aspect ratio */
  }
  .client-logo img {
    width: 100%; /* Further adjust image size for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .client-heading {
    font-size: calc(var(--headerFontSize) * 0.7); /* Further reduce font size */
  }
}
