:root {
  --blue: #3498db;
  --txtClr: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
#home {
  background-image: url(https://plus.unsplash.com/premium_photo-1685086785054-d047cdc0e525?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2ViJTIwZGV2ZWxvcG1lbnR8ZW58MHx8MHx8fDA%3D);
  width: 100%;
  height: 94vh;
  background-size: cover;
  background-color: rgba(22, 22, 22, 0.7);
  background-blend-mode: darken;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 50px; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--blue);
  opacity: 0.8;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.3s;
}
.navbar img {
  display: none;
  width: 25px;
  height: 25px;
}

.logo {
  display: none;
  font-weight: 400;
  color: var(--txtClr);
  font-size: 24px;
  /* margin-left: 40px; */
}

.logo.show {
  display: block;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0;
}

.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-list li {
  position: relative;
}
.nav-list li .nav-items::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: 0.3s;
}
.nav-list li .nav-items:hover::before {
  width: 80%;
  left: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50px;
  left: 0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--txtClr);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 6vw;
  height: 95%;
  /* text-align: center; */
  gap: 20px;
}

.home-content h1 {
  font-size: 4vw; /* Responsive font size */
  margin-bottom: 20px;
  color: rgb(25, 110, 223);
}

.home-content h2 {
  font-size: 1.5vw;
  /* color: rgb(207, 165, 255); */
  color: white;
  font-weight: 400;
}

.home-content a {
  padding: 10px 18px;
  background-color: transparent;
  border: 1px solid var(--txtClr);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s, border 0.3s;
}

.about-btn:hover {
  /* background-color: var(--blue); */
  background-color: #4588e0 !important;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 0;
}
.home-content a {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .navbar img {
    display: block;
    width: 25px;
    height: 25px;
  }
  .home-content h1 {
    font-size: 9vw;
  }
  .home-content h2 {
    font-size: 5vw;
  }
  .navbar ul {
    background-color: #999999;
    position: fixed;
    top: 0;
    right: -150px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: fit-content;
    padding-top: 25px;
    align-content: start;
    z-index: 1001;
    border: 2px solid white;
    border-right: hidden;
    border-radius: 10px;
    box-shadow: white;
    transition: right 0.5s;
  }
  .navbar ul li {
    width: 100%;
    display: block;
    margin: 20px;
    margin-bottom: 0;
    height: fit-content;
  }
  .navbar ul li:last-child {
    margin-bottom: 20px;
  }
  .navbar ul img {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .logo {
    font-size: 20px;
  }
}
