:root {
  --blue: #3498db;
  --txtClr: #d4f1f4;
  --primaryColor: #189ab4;
  --secondaryColor: #05445e;
  --hoverColor: #2e8bc0;
  --headerFontSize: 50px;
  --headerFontWeight: 700;
  --smallScreenFontSize: 40px;
  --boxShadow: 0 0 16px 5px rgba(0, 0, 0, 0.3);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--txtClr);
}
::-webkit-scrollbar{
  display: none;
}
html {
  scroll-behavior: smooth;
}
#home {
  /* background-image: url(https://plus.unsplash.com/premium_photo-1685086785054-d047cdc0e525?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2ViJTIwZGV2ZWxvcG1lbnR8ZW58MHx8MHx8fDA%3D); */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: red;
  overflow: hidden;
  position: relative;
  /* background-color: var(--secondaryColor);
  background-blend-mode: darken; */
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px !important;
  padding-left: 20px !important;
  align-items: center;
  /* gap: 50px; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primaryColor);

  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.3s;
}
.navbar img {
  display: none;
  width: 25px;
  height: 25px;
}

.logo {
  display: block;
  font-weight: 400;
  color: var(--txtClr);
  font-size: 24px;
  /* margin-left: 40px; */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0;
}

.nav-list li a {
  display: block;
  color: var(--txtClr);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-list li {
  position: relative;
}
.nav-list li .nav-items::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--txtClr);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transition: 0.3s;
}
.nav-list li .nav-items:hover::before {
  width: 70%;
  /* left: 10%; */
  transform: translateX(-50%);
}

.dropdown-content {
  position: absolute;
  min-width: 150px;
  top: 50px;
  left: 0;
  display: none;
  background-color: var(--txtClr);
  z-index: 1;
}

.dropdown-content a {
  color: var(--primaryColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a {
  color: var(--primaryColor);
}

.dropdown-content a:hover {
  background-color: var(--secondaryColor);
  color: var(--txtClr);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 6vw;
  height: 95%;
  z-index: 1;
  /* text-align: center; */
  gap: 20px;
}

.home-content h1 {
  font-size: 4vw; /* Responsive font size */
  margin-bottom: 20px;
  color: var(--txtClr);
}

.home-content h2 {
  font-size: 1.5vw;
  /* color: rgb(207, 165, 255); */
  color: white;
  font-weight: 400;
  font-style: italic;
  color: var(--primaryColor);
}

.home-content a {
  padding: 10px 18px;
  background-color: transparent;
  border: 1px solid var(--txtClr);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s, border 0.3s;
}

.about-btn:hover {
  /* background-color: var(--blue); */
  background-color: var(--primaryColor) !important;
  cursor: pointer;
  color: var(--txtClr);
  text-decoration: none;
  border: 0;
}
.home-content a {
  text-decoration: none;
  color: white;
}
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transform: rotate(180deg);
  background-color: green;
  z-index: 0;
}
.bgvideo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(2);
}
@media (max-width: 600px) {
  .nav {
    justify-content: space-between !important;
  }

  .navbar img {
    display: block;
    width: 25px;
    height: 25px;
  }
  .home-content h1 {
    font-size: 9vw;
  }
  .home-content h2 {
    font-size: 5vw;
  }
  .bgvideo{
    width: auto;
    filter: saturate(3);
    transform: translateX(-20%);
  }
  .dropdown-content {
    border-radius: 10px;
    box-shadow: var(--boxShadow);
  }
  .dropdown-content a {
    color: var(--primaryColor);
    display: flex !important;
  }
  .navbar ul {
    position: fixed;
    top: 0;
    right: -150px;
    width: 110px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: start;
    color: var(--txtClr);
    background-color: var(--secondaryColor);
    padding-top: 25px;
    border-right: hidden;
    border-radius: 10px 0 0 10px;
    box-shadow: var(--boxShadow);
    transition: right 0.5s;
    z-index: 1001;
  }
  .navbar ul li {
    width: 100%;
    display: block;
    margin-bottom: 0;
    height: fit-content;
  }
  .navbar ul li:last-child {
    margin-bottom: 20px;
  }
  .navbar ul img {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .logo {
    font-size: 20px;
  }
}
