#project-section {
  padding: 2.5rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(39, 39, 39), rgb(45, 71, 143));
  justify-content: center;
  text-align: center;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project-wraper {
  width: 30%;
  /* max-width: 600px; */
  height: 100vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.2rem);
  border: 1px solid white;
  border-radius: 15px;
  word-spacing: 2px;
  font-size: 18px;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 40px;
  &:hover {
    scale: 1.02;
  }
}
.prettyLittle-img,
.skcomputer-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px 8px 0 0;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.prettyLittle-img {
  background-image: url(images/services/prettyLittle.jpg);
}
.skcomputer-img {
  background-position: 50%;
  background-image: url(images/project/skcomputer.JPG);
}
.project-wraper p {
  text-align: justify;
}

.project-heading {
  font-size: var(--headerFontSize);
  font-weight: var(--headerFontWeight);
}

.sub-heading {
  color: var(--subheadingTxtClr);
  text-align: left;
}
.text-container {
  position: relative;
  max-width: 95%;
  /* Adjust as needed */
  margin-bottom: 20px;
  /* Space between carts */
}

.text-content {
  display: block;
  /* -webkit-line-clamp: 3; */
  /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
  margin-top: 10px;
}

.read-more-btn {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  /* padding: 10px 15px; */
  cursor: pointer;
}

.read-more-btn :focus {
  outline: 0px !important;
}
/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and down) */
/*  */
@media (max-width: 600px) {
  .project-container {
    flex-direction: column;
    padding: 20px;
  }
  .project-wraper {
    width: 95%;
    height: auto;
    margin-top: 20px;
  }
  .project-heading {
    font-size: 40px !important;
  }
  .text-content {
    display: -webkit-box;
    -webkit-line-clamp: 6;
  }
  .text-content.expanded {
    display: block;
    -webkit-line-clamp: unset;
  }

  .read-more-btn {
    display: block;
  }
}
/* Medium devices (portrait tablets and small desktops, 900px and down) */
@media (max-width: 900px) {
  .project-wraper {
    height: auto;
    width: 90%;
    min-width: 320px;
  }
  /* .project-heading {
    font-size: 40px !important;
  } */
}
