/* ----- Our Team Style ----- */
#our-team {
  background-color: var(--primaryColor);
  padding-top: 2.5rem;
}
#our-team1 {
  background-color: var(--primaryColor);
  padding-top: 2.5rem;
  display: none;
}
.our-team-text {
  text-align: center;
  font-size: var(--headerFontSize);
  font-weight: var(--headerFontWeight);
}
.devloper {
  padding-bottom: 2.5rem;
  padding-top: 30px;
}
.it {
  width: 100%;
  padding-left: 330px;
}
.crousel {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.team {
  width: 20%;
  height: fit-content;
  margin-bottom: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--boxShadow);
  border-radius: 30px;
}

.team .team-image {
  margin: 20px 20px 2px 20px;
}
.name {
  font-size: 30px;
  font-weight: 600;
  color: var(--txtClr);
}

.member-description {
  margin-top: 10px;
}
.member-description .description {
  padding: 20px;
  color: var(--txtClr);
}

.team-image {
  width: 90% !important;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 40px;
}
.team:hover {
  scale: 1.03;
}
.image {
  width: 100%;
  height: auto;
}
.Shashikant {
  width: auto;
  height: 100%;
  transform: translateX(-10%);
}
.it-heading {
  color: var(--txtClr);
  margin-bottom: 20px;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.our-team {
  width: 100%;
  height: 100vh;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23b0bfdd" viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/></svg>') !important;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23b0bfdd" viewBox="0 0 8 8"><path d="M2.75 0l4 4-4 4-1.5-1.5 2.5-2.5-2.5-2.5 1.5-1.5z"/></svg>') !important;
}
@media (max-width: 1700px) {
  .it {
    padding-left: 12vw;
  }
}

@media (max-width: 600px) {
  #our-team {
    display: none;
  }
  #our-team1 {
    display: block;
  }
  .team {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
  }
  .it {
    padding-left: 35px;
  }
  .it-heading {
    font-size: 30px;
  }
  .name {
    font-size: 25px;
  }
  .our-team-text {
    font-size: 40px !important;
  }
}
